---
import "../styles/landing-page.css";
import CabecalhoSite from "../components/compartilhados/CabecalhoSite.astro";
import RodapeSite from "../components/compartilhados/RodapeSite.astro";
import BotaoWhatsappFlutuante from "../components/compartilhados/BotaoWhatsappFlutuante.astro";
import SecaoHero from "../components/secoes/SecaoHero.astro";
import SecaoSobreMim from "../components/secoes/SecaoSobreMim.astro";
import SecaoPsicoterapia from "../components/secoes/SecaoPsicoterapia.astro";
import SecaoAtendimentos from "../components/secoes/SecaoAtendimentos.astro";
import SecaoRedesSociais from "../components/secoes/SecaoRedesSociais.astro";
import {
	contatosLandingPage,
	dadosApresentacao,
	dadosAtendimentos,
	dadosPsicoterapia,
	itensMenu,
	postsInstagram,
} from "../dados/landing-page";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<script>
		import { inicializarPagina } from "../scripts/inicializar-pagina";

		inicializarPagina();
	</script>

	<CabecalhoSite itensMenu={itensMenu} />

	<main>
		<SecaoHero dadosApresentacao={dadosApresentacao} contatos={contatosLandingPage} />
		<SecaoSobreMim dadosApresentacao={dadosApresentacao} />
		<SecaoPsicoterapia dadosPsicoterapia={dadosPsicoterapia} />
		<SecaoAtendimentos dadosAtendimentos={dadosAtendimentos} contatos={contatosLandingPage} />
		<SecaoRedesSociais contatos={contatosLandingPage} postsInstagram={postsInstagram} />
	</main>

	<RodapeSite dadosApresentacao={dadosApresentacao} contatos={contatosLandingPage} />
	<BotaoWhatsappFlutuante linkWhatsapp={contatosLandingPage.linkWhatsapp} />
</Layout>
